In [12]:
import numpy as np
import pandas as pd
import random
import os

In [13]:
df = pd.read_csv('train_dataset.csv')
print('共{}个用户，{}本图书，{}条记录'.format(max(df['user_id'])+1, max(df['item_id'])+1, len(df)))

共53424个用户，10000本图书，5869631条记录

In [14]:
df.head()

   user_id  item_id
0        0      257
1        0      267
2        0     5555
3        0     3637
4        0     1795

## 数据预处理¶
构建Dataset类
构建负样本
划分测试集与验证集
构建对应的Dataloader

In [15]:
rows_count_per_id = df.groupby('user_id').size().reset_index(name='count')
rows_count_per_id['count'].min()

17

In [16]:
def get_sequence_and_next_value(data):
    window_size=10
    sequences = []
    next_values = []
    data=data.item_id.values
    
    for i in range(len(data) - window_size):
        sequence = data[i : i + window_size]
        next_value = data[i + window_size]
        sequences.append(sequence)
        next_values.append(next_value)
  
    # 生成的序列和对应值
    data = {
        'Sequence': sequences,
        'Next_Value': next_values
    }
    
    # 将数据转换为 DataFrame
    df = pd.DataFrame(data)
    
    return df
    

# 将数据转换为列表

In [17]:
x=df.groupby('user_id').apply(get_sequence_and_next_value)

In [18]:
x=x.reset_index(drop=True)

x=x.sample(n=100000)

In [19]:
X=x.Sequence.values
df=np.vstack(X)
df=pd.DataFrame(df)
Y=x.Next_Value.values

In [20]:
Y

array([2961,  459,  324, ..., 5980,   26, 4463], dtype=int64)

In [21]:
from pycaret.regression import *
s = setup( df, target=Y, session_id = 123)

In [ ]:
rf=s.create_model('br')

In [49]:
df = pd.read_csv('train_dataset.csv')
rows_count_per_id = df.groupby('user_id').tail(10)

In [38]:
def pre(rows_count_per_id):
    
    xx=rf.predict(rows_count_per_id.item_id.values.reshape(1, -1))
    return int(xx)
    return  xx

In [50]:
rows_count_per_id = rows_count_per_id.groupby('user_id').apply(pre)

In [53]:
rows_count_per_id.values

array([1309,  971, 1358, ...,  993, 1867, 1234], dtype=int64)

In [62]:
df=pd.DataFrame()
df['user_id']=rows_count_per_id.index
df['item_id']=rows_count_per_id.values
df.to_csv('submission1.csv', index=False)

In [58]:
df

       user_id  item_id
0            0     1309
1            1      971
2            2     1358
3            3     1329
4            4     3189
...        ...      ...
53419    53419     3111
53420    53420     5292
53421    53421      993
53422    53422     1867
53423    53423     1234

[53424 rows x 2 columns]

In [64]:
rf=s.create_model('rf')

In [65]:
df = pd.read_csv('train_dataset.csv')
rows_count_per_id = df.groupby('user_id').tail(10)
rows_count_per_id = rows_count_per_id.groupby('user_id').apply(pre)
df=pd.DataFrame()
df['user_id']=rows_count_per_id.index
df['item_id']=rows_count_per_id.values
df.to_csv('submission1.csv', index=False)